* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    background-color: #e3e6e6;
}

/* nav1 starts */

.nav1 {
    width: 100%;
    height: 3.3rem;
    color: #fff;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0.5rem;
    position: sticky;
    top: 0;
    font-family: Arial, sans-serif;
}

.nav1_bars {
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
}

.nav1_items {
    cursor: pointer;
    height: 2.8rem;
}

.nav1_items:hover {
    border: 1px solid #fff;
}

.logo {
    width: 7rem;
    background-image: url('images/amazon_logo.png');
    background-position: center;
    background-size: cover;
}

.location {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location i {
    margin-right: 0.3rem;
    margin-top: 0.3rem;
}

.loc_info_first {
    font-size: 0.68rem;
    letter-spacing: 0.4px;
    color: #ccc;
}

.nav1_items_second {
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.search {
    display: flex;
    height: 2.2rem;
    width: 45%;
}

.search:focus-within {
    border-radius: 6px;
    border: 3px solid #f5a640;
}

#search_select {
    width: 3rem;
    font-size: 0.7rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    border-right: 1px solid #dad7d7;
    padding-left: 0.5rem;
    background-color: #e6e6e6;
    cursor: pointer;
}

#search_select option {
    font-size: 0.8rem;
}

#search_select:focus {
    outline-color: #f5a640;
}

.search_input {
    width: 100%;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
}

.search_icon {
    background-color: #febd69;
    width: 3rem;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.lang {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

.flag {
    width: 1.1rem;
}

.language {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.sign_in {
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0 0.2rem;
}

.nav1_items_first {
    font-size: 0.68rem;
    letter-spacing: 0.4px;
}

.nav1_items_second i {
    font-size: 0.6rem;
}

.orders {
    width: 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0 0.2rem;
}

.cart {
    width: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart i {
    margin-right: 0.2rem;
    font-size: 1.3rem;
}

/* nav1 ends */

/* nav2 starts */

.nav2 {
    width: 100%;
    height: 2.2rem;
    padding: 0 0.5rem;
    color: #fff;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.nav2_items {
    height: 1.8rem;
    font-size: 0.78rem;
    font-weight: 500;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav2_items:hover {
    border: 1px solid #fff;
}

.nav2_all {
    font-weight: 700;
}

.nav2_all i {
    margin-right: 0.3rem;
    font-size: 1rem;
}

.nav2_banner {
    width: 23%;
    height: 2.2rem;
    padding: 0.1rem 0;
}

.nav2_banner img {
    height: 2rem;
    width: 100%;
}

.nav2_hidden {
    display: none;
}

/* nav2 ends */

/* main starts */

main {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

.hero img {
    width: 100%;
}

.main_container {
    width: 98%;
    margin: auto;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cards {
    background-color: #fff;
    height: 23.3rem;
    width: 24%;
    margin-bottom: 1.1rem;
    padding: 1.1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards_heading {
    font-size: 1.15rem;
}

.cards_subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.subcontainer_img {
    height: 7.2rem;
    width: 46%;
    margin-bottom: 1rem;
    cursor: pointer;
    object-fit: contain;
}

.hidden_cards {
    display: none;
}

.cards_banner_subcontainer {
    width: 100%;
}

.cards_banner_subcontainer img {
    width: 100%;
    height: 15.3rem;
    object-fit: cover;
}

.cards_link {
    color: #007185;
    font-size: 0.78rem;
    text-decoration: none;
}

.cards_link:hover {
    color: #c7511f;
}

.horizontal_container {
    background-color: #fff;
    padding: 1.1rem 1rem;
    margin-bottom: 1.1rem;
    width: 100%;
}

.beauty_categories,
.watches_categories,
.top_categories {
    padding: 0.5rem 0 1rem;
    display: flex;
    margin-top: 0.5rem;
    overflow: auto;
}

.beauty_categories::-webkit-scrollbar,
.watches_categories::-webkit-scrollbar,
.top_categories::-webkit-scrollbar {
    height: 5px;
}

.beauty_categories::-webkit-scrollbar-thumb,
.watches_categories::-webkit-scrollbar-thumb,
.top_categories::-webkit-scrollbar-thumb {
    background-color: #0000002d;
}

.beauty_categories img,
.watches_categories img,
.top_categories img {
    margin: 0 1rem;
}

.adverstisement_banner {
    background-color: #fff;
    padding: 1.1rem 1rem;
    margin-bottom: 1.1rem;
}

.adverstisement_banner img {
    width: 100%;
}

/* main ends */

/* footer starts */

footer {
    background-color: #232f3e;
    color: #fff;
    width: 100%;
}

.sign_container {
    color: #000;
    background-color: #fff;
    padding: 1.6rem 1rem 2rem;
    text-align: center;
}

.sign_title {
    font-size: 0.75rem;
    font-weight: 500;
}

.sign_btn {
    border-color: #f5a640;
    border-radius: 4px;
    background: linear-gradient(#f7b202, #e6bc54);
    font-weight: 700;
    padding: 0.4rem;
    width: 13rem;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    cursor: pointer;
}

.new_customer {
    font-size: 0.7rem;
}

.new_customer_second {
    color: #007185;
    cursor: pointer;
}

.to_top {
    background-color: #37475a;
    padding: 0.85rem 1rem;
    margin-bottom: 1.1rem;
    text-align: center;
}

.to_top a {
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
}

.footer_list {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0 2.5rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer_list_content {
    display: flex;
    flex-direction: column;
}

.footer_list_content h3 {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.footer_list_content a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.footer_logo {
    border-top: 1px solid #ffffff38;
    padding: 1.6rem 0;
    display: flex;
    justify-content: center;
}

.footer_logo_div {
    height: 2.8rem;
    cursor: pointer;
}

.footer_logo_select {
    height: 2rem;
    background: transparent;
    color: #fff;
    padding: 0 0.8rem;
    margin-left: 5rem;
    cursor: pointer;
}

.copyright {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

/* footer ends */

/* Responsive */

@media screen and (min-width:1860px) {
    .search {
        width: 65%;
    }

    .nav2_hidden {
        display: flex;
    }

    .nav2_banner {
        width: 20%;
    }
}

@media screen and (max-width:1239px) {
    .nav2 {
        overflow: auto;
    }

    .search {
        width: 33%;
    }

    .nav2_banner {
        display: none;
    }

    .cards {
        width: 32%;
    }

    .cards_subcontainer {
        justify-content: space-around;
    }

    .subcontainer_img {
        width: 40%;
        height: 6.1rem;
        margin-bottom: 1.4rem;
    }

    .hidden_cards {
        display: flex;
    }

    .to_hidden_cards {
        display: none;
    }

    .beauty_categories,
    .watches_categories,
    .top_categories {
        padding: 1rem;
    }

    .beauty_categories img,
    .watches_categories img,
    .top_categories img {
        height: 160px;
    }

}

@media screen and (max-width:980px) {
    html {
        font-size: 14px;
    }

    .search {
        width: 25%;
    }

    #search_select {
        padding: 0;
        width: 2.3rem;
    }
}

@media screen and (max-width: 743px) {

    .nav2,
    .nav1_items,
    #search_select,
    .hidden_cards {
        display: none;
    }

    .logo,
    .nav1_bars {
        display: block;
    }

    .to_hidden_cards {
        display: flex;
    }

    .nav1 {
        padding: 2px 1rem;
    }

    .search {
        width: 72%;
        margin-left: 2rem;
    }

    .search_input {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .cards {
        width: 49%
    }
}

@media screen and (max-width: 569px) {
    .cards {
        width: 100%;
    }

    .hero {
        background-color: #f4eee0;
    }

    .hero img {
        height: 220px;
        object-fit: contain;
    }

    .subcontainer_img {
        height: 7rem;
    }

    .cards_banner_subcontainer img {
        object-fit: contain;
    }

    .adverstisement_banner {
        padding: 0.2rem 0 0 0;
    }

    .adverstisement_banner img {
        height: 100px;
        object-fit: fill;
    }

    .footer_list {
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
    }

    .footer_list_content {
        margin: 0.5rem 0;
        width: 45%;
    }
}